html {
  height: 100vh;
}
body {
  background-color: teal;
}
/*.landing {
    height: 100vh;
  }*/

.items-scroll {
  background-color: whitesmoke;
  width: 60%;
  height: 40vh;
  overflow: auto;
}
#items {
  display: grid;
  grid-template-columns: auto auto auto;
}
.items-scroll #items ul {
  height: 200px;
  width: 18%;
  list-style-type: none;
}
.items-scroll #items {
  overflow: auto;
  overflow-y: scroll;
}
.reciept {
  background-color: tomato;
}
.control-panel {
  background-color: thistle;
}

html {
  max-height: 100vh;
  max-width: 100vw;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Do Hyeon", sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
.reciept {
  float: right;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
.reciept ul {
  list-style-type: none;
  padding: 0;
}
.items-scroll {
  background-color: whitesmoke;
  width: 100%;
  height: 40vh;
  overflow: auto;
}
#li-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style-type: none;
}
.items-scroll #items ul {
  height: 200px;
  width: 18%;
}
.items-scroll #items {
  overflow: auto;
  overflow-y: scroll;
}

.control-panel {
  float: left;
  padding: 20px;
  width: 100vw;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

.product-container {
  position: relative;
  height: 200px;
  max-width: 300px;
  margin: 3px auto 3px;
}

.li-image {
  display: block;
  width: 100%;
  height: auto;
}

.icon-overlay {
  position: absolute;
  top: 0;
  /*background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.5);*/ /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  font-size: 20px;
  /*padding: 20px;*/
  /*text-align: center;*/
}

.icon-overlay i {
  position: absolute;
  /*top: 8px;
left: 16px;
font-size: 18px;*/
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0, 0.5);
}
.icon-overlay p {
  position: absolute;
  bottom: 0;
  right: 0;
  /*font-size: 18px;*/
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}
.li-image {
  background-color: orchid;
  height: 100%;
  width: 100%;
}
.control-btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.control-btn:hover {
  background-color: #3e8e41;
}

.control-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.admin-table {
  background-color: antiquewhite;
  height: 50vh;
  overflow: auto;
}
.items-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.items-table td,
.items-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.items-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.items-table tr:hover {
  background-color: #ddd;
}

.items-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
.table-head {
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  .reciept,
  .scroll-items,
  .control-panel {
    width: 100%;
    /*height: auto;*/
  }
  #li-items {
    display: list-item;
  }
}
